<h2>Movie Lists</h2>
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
    <hr>
      <%= link_to 'add list', new_list_path %>
